html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 250px 1fr;
}

.a{
  grid-area: a;
  background-color: #f00;
}

.b{
  grid-area: b;
  background-color: #0f0;
}

.c{
  grid-area: c;
  background-color: #00f;
  overflow: auto;
  padding:0.5rem;
  color:azure;
}

.d{
  grid-area: d;
  background-color: #ff0;
}

.e{
  grid-area: e;
  background-color: #f0f;
  display: flex;
  align-items: flex-end;
}

.f{
  grid-area: f;
  background-color: #0ff;
}

/* Media query to hide .c and .e on mobile devices */
@media (max-width: 768px) {
  .a, .c, .e {
    display: none;
  }
  .wrapper{
    min-height: 100%;
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 0px 1fr;
  }
}